<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/css/float-label.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        }

        @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
        }
    </style>

<body>
    <form class="form-signin" action="/auth/signup" method="POST">
        <div class="text-center mb-4">
            <img class="mb-4" src="/bower_components/img/bootstrap-solid.svg" alt="" width="72" height="72">
        </div>
        <div class="form-label-group">
            <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
            <label for="inputEmail">Username</label>
        </div>
        <div class="form-label-group">
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <p class="mt-2">Already customer? <a href="/auth/login">login</a></p>
        <div class="card light mx-auto" style="width:120px">
            
        </div>

        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>
</body>

</html>